body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:  url("spring-collection.jpg");

  /* Set a specific height */
  height: 85%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.view-collection-btn {
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 8px 18px 8px 18px;
}

#spring {
    font-size: 50px;
    letter-spacing: 0.1em;
}

#on-sale{
  text-align: center;
}

.card-prod-price {
    text-decoration: line-through;
    text-decoration-color: rgb(130, 130, 130);
    font-size: 20px;
}

.card-prod-new-price {
  font-size: 30px;
}

.card-img-top:hover {
  filter: brightness(50%);
}


.footer-container {
  background-color: rgb(238, 238, 238);
  
  margin-bottom: 30px;
}

.footer {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 50px;
  margin-left: 50px;
}

.join-banner{
  background-color: black;
  color: white;

}
#join {
  text-align: center;
  font-size: 20px;
  color: white;
}

#join-2{
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

.footer-logo {
  text-align: center;
  margin: 50px 50px 50px 50px;
  
}

.info-container {
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.forms {
  align-items: left;
}

